<section class="wrapper">
	<div class="inner">
		<header class="special">
			{{ content.field_intro }}
		</header>
		<div class="highlights">
      {{ content.field_card }}
		</div>
	</div>
</section>
