<section class="wrapper">
	<div class="inner">
		<header class="special">
			{{ content.field_testimonial_intro }}
		</header>
		<div class="testimonials">
      {{ content.field_quotes }}
		</div>
	</div>
</section>
