{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}

{% include '@bootstrap_patterns/includes/header.html.twig' %}

{# Main #}
{% block main %}
  <div role="main" class="main-container container">
    <div class="row">
      {# Content #}
      <section{{ content_attributes.addClass('col-sm-12') }}>

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.highlighted }}
          {{ page.content }}
        {% endblock %}
      </section>
    </div>
  </div>
{% endblock %}

{% include '@bootstrap_patterns/includes/footer.html.twig' %}
