<section id="cta" class="wrapper {{ variant }}" style="background-image: linear-gradient(rgba(206, 27, 40, 0.25), rgba(206, 27, 40, 0.25)), url('{{ image }}')">
	<div class="inner">
		<h2>{{ title }}</h2>
		<p>{{ text }}</p>
	</div>
</section>
